<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4102d742-451a-4f3b-b7c7-e0f4923d7fba/resourceGroups/Blazor-web2-lab1/providers/Microsoft.Web/sites/web2lab2</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://web2lab2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>1858a115-5661-448f-b5ff-7f8b88dbb70d</ProjectGuid>
    <PublishUrl>https://web2lab2.scm.azurewebsites.net/</PublishUrl>
    <UserName>$web2lab2</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>